table{
    font-family: helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 18px;
    border-style: groove;
    border-color:purple;
}

th{
    font-weight: 800;
    background-color: purple;
    color:aqua; 
} 